{% extends "nav_template.html"%}
<title>quiz_solve</title>

{% block main_container %}
{% for quiz in quizs %}
<form action="">
    <div class="mb-3">
        <label for="sel1" class="form-label">{{quiz.question}}</label>
        <div>
            <label>{{ quiz.choice1 }}</label>
            <input type="radio" name="question" value="choice1">
        </div>
        <div>
            <label>{{ quiz.choice2 }}</label>
            <input type="radio" name="question" value="choice2">
        </div>
        <div>
            <label>{{ quiz.choice3 }}</label>
            <input type="radio" name="question" value="choice3">
        </div>
        <div>
            <label>{{ quiz.choice4 }}</label>
            <input type="radio" name="question" value="choice4">
        </div>

    </div>
</form>
{% endfor %}
{% endblock %}


<div>
    <label>{{ "choice1" }}</label>
    <input type="radio" name="question" value="choice1">
</div>