{% extends "nav_template.html"%}
<title>quiz_solve</title>

{% block main_container %}

<form>
    <table class="table table-hover">
        <tbody>
            {{ user_name }}
            <div>
                성함을 입력해 주세요 : <input type="text" name="player_name" id="">
            </div>
            <button type="submit" formmethod="post">접수하기</button>
            <tr>
                {% for index in range(quizs|length) %}
            <tr>
                <td> {{ loop.index0 + 1 }}.{{ quizs[index].question }} ({{ quizs[index].point }}점) </td>
            </tr>
        </tbody>
        <tbody> 
            <tr>
                <td>
                    <input type="radio" name="question{{ index }}" value="choice1" id="choice1{{ index }}">
                    <label for="choice1{{ index }}">{{ quizs[index].choice1 }}</label>
                </td>
                <td>
                    <input type="radio" name="question{{ index }}" value="choice2" id="choice2{{ index }}">
                    <label for="choice2{{ index }}">{{ quizs[index].choice2 }}</label>
                </td>
                <td>
                    <input type="radio" name="question{{ index }}" value="choice3" id="choice3{{ index }}">
                    <label for="choice3{{ index }}">{{ quizs[index].choice3 }}</label>
                </td>
                <td>
                    <input type="radio" name="question{{ index }}" value="choice4" id="choice4{{ index }}">
                    <label for="choice4{{ index }}">{{ quizs[index].choice4 }}</label>
                </td>
            </tr>
            {% endfor %}
            </tr>
        </tbody>
    </table>
    <button type="submit">제출</button>
</form>
{% endblock %}